:root{
    --veryDarkBlue:rgb(37, 43, 70);
    --softBlue: hsl(231, 69%, 60%);
    --softRed: hsl(0, 94%, 66%);
    --grayishBlue: hsl(229, 8%, 60%);
}
@import './styles/header.scss';
@import './styles/btn.scss';
@import './styles/feactures.scss';
@import './styles/browser.scss';
@import './styles/questions.scss';
@import './styles/contact.scss';
@import './styles/footer.scss';
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-width: 375px;
    max-width: 1440px;
    // background-color: #eee;
    font-family: 'Rubik', sans-serif;
}
h2{
    color:var(--veryDarkBlue);
    text-align:center;
    font-size: 1.8em;
}
h3{
    color:var(--veryDarkBlue);
    text-align:center;
    font-size: 1.5em;
}
.p-9{
    margin-top: 9em;
}
p{
    padding: 10px;
    color:var(--grayishBlue);
    text-align:center;
    margin: 25px auto;
}
.container{
    width: 90%;
    margin: auto;
}

.hero{
    text-align:center;
    padding-top: 60px;
    img{
        margin-top: 40px;
        display: block;
        width: 100%;
    }
    #short{
        width: 80%;
        margin:auto;
    }
}


 @media screen and (min-width:1024px){
     .p-9{
        margin-top: 30px;
        &-1{
            margin-top:100px;
        }
     }
     p{
         max-width: 500px;
     }
     .hero-w{
         margin-top:50px;
         display:flex;
         flex-direction: row-reverse;

         &-right{
            width: 450px;
            padding-left: 120px;
            text-align:initial;
            padding-top: 100px;
            h2,p{
                text-align:initial;
            }
            
         }
         &-left{
             width:580px;
             margin-left:100px;
         }
         .container-btn{
            margin: 0;
         }
     }
     
 }