:root{
    --veryDarkBlue:rgb(37, 43, 70);
    --softBlue: hsl(231, 69%, 60%);
    --softRed: hsl(0, 94%, 66%);
    --grayishBlue: hsl(229, 8%, 60%);
}
@import './styles/header.scss';
@import './styles/btn.scss';
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-width: 375px;
    max-width: 1440px;
    background-color: #eee;
    font-family: 'Rubik', sans-serif;
}
h2{
    color:var(--veryDarkBlue);
    text-align:center;
    font-size: 1.8em;
}
h3{
    margin-top: 150px;
    color:var(--veryDarkBlue);
    text-align:center;
    font-size: 1.5em;
}
p{
    padding: 10px;
    color:var(--grayishBlue);
    text-align:center;
    margin: 25px auto;
}
.container{
    width: 90%;
    margin: auto;
}

.hero{
    text-align:center;
    padding-top: 60px;
    img{
        margin-top: 40px;
        display: block;
        width: 100%;
    }
    #short{
        width: 80%;
        margin:auto;
    }
}

.feactures-ul{
    font-weight: 500;
    padding: 0;
    text-align: center;
    .feacture{
        width:80%;
        margin:auto;
        border-top:1px solid var(--grayishBlue);
        list-style: none;
        padding: 18px;
            &:last-child{
                border-bottom:1px solid var(--grayishBlue);
            }
        a{
            text-decoration: none;
            color:var(--grayishBlue);
        }
    }
}
.active{
    color:var(--veryDarkBlue);
    &::after{
        content: "";
        display: block;
        width:52%;
        max-width: 143px;
        position: relative;
        top:20px;
        left:0px;
        transform: translate(50%);
        // ! movile good ! but for desktop :(
        border-bottom: 3px solid rgba(255,0,0,0.7);

    }
}
.tab{
    display: none;
}

.tabs{
    input{
        display: none;
    }
    input[id="bookmarking"]:checked{
        & ~ #tab-1{
            display: block;
        }
        & ~ ul #t1{
            @extend .active; 
        }
    }
    input[id="searching"]:checked{
        & ~ #tab-2{
            display: block;
        }
        & ~ ul #t2{
            @extend .active; 
        }
    }
    input[id="sharing"]:checked{
        & ~ #tab-3{
            display: block;
        }
        & ~ ul #t3{
            @extend .active; 
        }
    }
}