// section contact
.contact{
    margin-top: 60px;
    background: var(--softBlue);
    color: #fff;
    padding: 3em 0;
    text-align: center;
    small{
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    h4{
        font-size: 1.3em;
        margin-top: 0.5em;
        font-weight: 500;
    }
}
.input-email{
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    outline: 0;
}

