.feactures-ul{
    font-weight: 500;
    padding: 0;
    text-align: center;
    .feacture{
        width:80%;
        margin:auto;
        border-top:1px solid var(--grayishBlue);
        list-style: none;
        padding: 18px;
            &:last-child{
                border-bottom:1px solid var(--grayishBlue);
            }
        a{
            text-decoration: none;
            color:var(--grayishBlue);
        }
    }
}
.active{
    color:var(--veryDarkBlue);
    &::after{
        content: "";
        display: block;
        width:52%;
        max-width: 143px;
        position: relative;
        top:20px;
        left:0px;
        transform: translate(50%);
        // ! movile good ! but for desktop :(
        border-bottom: 3px solid var(--softRed);

    }
}
.tab{
    display: none;
    flex-direction: column;
}

.tabs{
    input{
        display: none;
    }
    input[id="bookmarking"]:checked{
        & ~ #tab-1{
            display: flex ;
        }
        & ~ ul #t1{
            @extend .active; 
        }
    }
    input[id="searching"]:checked{
        & ~ #tab-2{
            display: flex ;
        }
        & ~ ul #t2{
            @extend .active; 
        }
    }
    input[id="sharing"]:checked{
        & ~ #tab-3{
            display: flex;
        }
        & ~ ul #t3{
            @extend .active; 
        }
    }
}
@media screen and (min-width:1024px){
    .feactures-ul{
        display: flex;
        
        justify-content: center;
        gap: 0px;
        .feacture{
            min-width: 170px;
            border-bottom: 1px solid var(--grayishBlue);
            border-top:none;
            width: auto;
            margin:0;
        }
     }
     .tabs{
         //
        
         //
         .tab{
            flex-direction: row;
            &-info{
            justify-content: center;
            align-self: center;
            width:400px;
            }
             .hero{
                 width: 45%;
                 margin:0;
                 margin-left:120px;

             }
         }
     }
}