.header{
    background: white;
    padding: 10px;
    position: fixed;
    left:0;
    top:0;
    right: 0;
    display: flex;
    // border: 2px solid white;
    justify-content: space-between;
    align-items: center;
    .menu{

        display:none;
        // display:block;
        text-transform: uppercase;
        background:rgba(37, 43, 70,.9) ;
        width: 100%;
        position: fixed;
        top:55px;
        left: 0;
        ul{
            font-size: 18px;
            padding:0;
            letter-spacing: 2px;
            li{
                // padding: 15px;
                list-style: none;
                display: block;
                text-align: center;
                &:nth-child(3){
                    a{border-bottom: 2px solid white;}
                }
                &:last-child{
                    margin-top: 20px;
                    a{  
                        border: 2px solid white;
                        border-radius: 5px;
                        padding: 10px;
                    }
                }
                
                a{  
                    display: block;
                    text-decoration: none;
                    margin: auto;
                    padding: 20px;
                    border-top:2px solid white;
                    width: 70%;
                    color:white;
                    &:hover{
                        background-color: white;
                        color: var(--veryDarkBlue);
                    }
                }
            }
        }
    }
    .menu-show{
        text-align: center;
        padding: 8px;
    }
}
@media screen and (min-width:1024px){
    .header{
        box-sizing: border-box;
        height: 70px;
        .logo{
            margin-left: 40px;
        }
        .menu-show{
            display:none !important;
        }
        .menu{
            background:none;
            display:flex !important;
            position:static;
            z-index: 2;
            justify-content: flex-end;
            
            ul{
                // justify-content: flex-end;
                gap: 25px;
                color:black;
                display: flex;
                letter-spacing: 1.2px;
                li{
                    display: inline-block;
                    text-align:start;
                    &:nth-child(3){
                        a{border-bottom: none}
                    }
                    &:last-child{
                        margin-top: 0px;
                        margin-left: 20px;
                        padding: 0px 5px;
                        border-radius: 5px;
                        &:hover{
                            border-bottom:none;

                        }
                        a{
                            background: var(--softRed);
                            color:white;
                            &:hover{
                                color:var(--softRed);
                                background:white;
                                border:1px solid var(--veryDarkBlue);
                                
                            }
                        }
                       
                    }
                    a{  margin:0px;
                        margin-left: 10px;
                        border-radius: none;
                        padding: 10px;
                        border-top:none;
                        width: auto;
                        color: var(--veryDarkBlue);
                       
                    }
                    &:hover{
                        border-bottom:1px solid var(--veryDarkBlue);
                    }
                }
                
            }
        }
    }
}